.card_car{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px bisque;
}

.my_title{
    font-size: 1.2em;
}

.name_car{
    font-size: 1em;
    color:aliceblue;
}

p{
    color:aliceblue;
}